body {
	overflow: hidden;
}

#cloud-wrapper {
	position: absolute;
	overflow: hidden;
	margin-right: 600px;
}

#page {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	color: #dddddd;
	font-size: 50px;
}

#cloud-wrapper > button, #cloud-wrapper > div.btn-group {
	position: absolute;
	z-index: 2;
}

#left-button {
	left: 10px;
	top: 50%;
	margin-top: -17px;
}

#right-button {
	right: 10px;
	top: 50%;
	margin-top: -17px;
}

#top-button {
	left: 50%;
	top: 10px;
	margin-left: -20px;
}

#bottom-button {
	left: 50%;
	bottom: 10px;
	margin-left: -20px;
}

#remap-button {
	right: 10px;
	bottom: 10px;
}

#navi-button-group {
	left: 10px;
	bottom: 10px;
	z-index: 2;
}

#search-input-group {
	left: 10px;
	top: 10px;
	width: 300px;
	z-index: 2;
}

#cloud {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	cursor: grab;
	transition: left 1s, top 1s;
}

#cloud.drag {
	cursor: grabbing;
	transition: none;
}

.link {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-left: -50px;
	margin-top: -50px;
	border-radius: 50px;
	font-size: 12px;
	text-shadow: 0 0 1px white, 0 0 5px white;
	line-height: 100px;
	text-align: center;
	opacity: 0.5;
	transition: left 1s, top 1s;
	cursor: pointer;
}

.link span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.link:hover {
	z-index: 1;
	border: 1px solid black;
	width: 98px;
	height: 98px;
	opacity: 1;
}

.link.drag {
	transition: none;
	cursor: grabbing;
}

#article {
	position: absolute;
	right: 0;
	top: 0;
	width: 600px;
}

#article iframe {
	border: none;
}